{% extends 'padre.html' %}
{% load static %}
{% block pagina %}Ver Estudiante{% endblock %}

{% block contenido %}
<div class="col-md-6 col-lg-4 mb-5">
    <form action="/ver_estudiantes/" method="get">
        <p>
            <label for="nombre">Nombre: </label>
            <input type="text" name="nombre">
            <br />
            <label for="apellido">apellido: </label>
            <input type="text" name="apellido">
            <br />
            <input type="submit" value="Buscar">
        </p>
    </form>
    <p>{{mensaje}}</p>
    
    {% for estudiante in resultados %}
        <p>Nombre Completo: {{estudiante.nombre}} {{estudiante.apellido}}</p>
        <p>Mail: {{estudiante.email}}</p>
        <p>Edad: {{estudiante.edad}} años</p>
    {% endfor %}
</div>
{% endblock %}